name: DevOps Pipeline Java

on:
  push:
    branches: [ "main" ]

# Permissões necessárias para o GitHub gravar o pacote no próprio registro
permissions:
  contents: read
  packages: write

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Configurar JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Compilar e Testar com Maven
      run: mvn clean verify

    # --- MUDANÇA AQUI: Login no GitHub Container Registry ---
    - name: Login no GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # Build e Push para o GitHub (ghcr.io)
    - name: Build e Push da Imagem
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        # Define o nome da imagem como ghcr.io/usuario/projeto:latest
        tags: ghcr.io/${{ github.repository }}:latest