name: DevOps Pipeline Java

# Gatilho: Executa quando há um push na branch 'main'
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Baixa o código do repositório
    - name: Checkout do código
      uses: actions/checkout@v4

    # 2. Configura o Java 17
    - name: Configurar JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    # 3. Roda os testes e compila o código (Validação de Código)
    - name: Compilar e Testar com Maven
      run: mvn clean verify

    # 4. Verifica se o Dockerfile está funcional (Validação de Infraestrutura)
    - name: Construir Imagem Docker
      run: docker build . --file Dockerfile --tag meu-app-java:latest